@model IEnumerable<ElectronicsStore.Models.Electronics>
@{
    
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Магазин электроники</title>
</head>
<body>
    <h3>Електроника</h3>
    <table>
        <tr>
            <td>Модель</td>
            <td>Производитель</td>
            <td>Класс</td>
            <td>Цена</td>
            <td></td>
        </tr>
        @foreach (var electronics in Model)
        {
    <tr>
        <td>@electronics.Name</td>
        <td>@electronics.Company</td>
        <td>@electronics.Class</td>
        <td>@electronics.Price</td>
        <td><a href="~/Home/Buy/@electronics.Id">Купить</a></td>
    </tr>
        }
    </table>
</body>
</html>